  .post-body details {
    display: block;
  }
  
  .post-body li::marker{
    color: rgb(212, 212, 0);
  }

  .post-body summary {
    display: list-item;
  }
  
  .post-body a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    border-bottom: 2px solid rgb(212, 212, 0);
  }

  .post-body strong {
    font-weight: inherit;
    font-weight: bolder;
  }

  .post-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-style: none;
    max-width: 90%;
  }
  
  .post-body code,
  .post-body kbd,
  .post-body pre {
    font-family: monospace,monospace;
    font-size: 1em;
  }

  .post-body input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .post-body [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
  }
  
  .post-body * {
    box-sizing: border-box;
  }
  
  .post-body hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-top: dashed 1px rgb(212, 212, 0);
  }
  
  .post-body table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  
  .post-body td,
  .post-body th {
    padding: 0;
  }
  
  .post-body details summary {
    cursor: pointer;
  }
  
  .post-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  .post-body sup{
    margin-left: 0.25em;
  }

  .post-body p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .post-body ol,
  .post-body ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .post-body ol ol,
  .post-body ul ol {
    list-style-type: lower-roman;
  }
  
  .post-body ol ol ol,
  .post-body ol ul ol,
  .post-body ul ol ol,
  .post-body ul ul ol {
    list-style-type: lower-alpha;
  }
  
  .post-body dd {
    margin-left: 0;
  }
  
  .post-body code,
  .post-body pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
  }
  
  .post-body pre {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .post-body input::-webkit-inner-spin-button,
  .post-body input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .post-body :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
  }
  
  .post-body .border {
    border: 1px solid #e1e4e8!important;
  }
  
  .post-body .border-0 {
    border: 0!important;
  }
  
  .post-body .border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
  }
  
  .post-body .rounded-1 {
    border-radius: 3px!important;
  }
  
  .post-body .bg-white {
    background-color: #fff!important;
  }
  
  .post-body .bg-gray-light {
    background-color: #fafbfc!important;
  }
  
  .post-body .text-gray-light {
    color: #6a737d!important;
  }
  
  .post-body .text-bold {
    font-weight: 600!important;
  }
  
  .post-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
  }
  
  .post-body>:first-child {
    margin-top: 0!important;
  }
  
  .post-body>:last-child {
    margin-bottom: 0!important;
  }
  
  .post-body blockquote,
  .post-body details,
  .post-body dl,
  .post-body ol,
  .post-body p,
  .post-body pre,
  .post-body table,
  .post-body ul {
    margin-top: 0;
    margin-bottom: 16px;
  }
  
  .post-body blockquote {
    margin: 0;
    padding: 0 1em;
    background-color: rgb(40, 40, 40);
    border-left: 2px solid rgb(212, 212, 0);
  }

  .post-body h1{
    text-align: center;
  }

  
  .post-body h1,
  .post-body h2,
  .post-body h3,
  .post-body h4,
  .post-body h5,
  .post-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }
  
  .post-body h1 {
    font-size: 2em;
  }
  
  .post-body h1,
  .post-body h2 {
    padding-bottom: .3em;
  }
  
  .post-body h2 {
    font-size: 1.5em;
  }
  
  .post-body h3 {
    font-size: 1.25em;
  }
  
  .post-body h4 {
    font-size: 1em;
  }
  
  .post-body h5 {
    font-size: .875em;
  }
  
  .post-body h6 {
    font-size: .85em;
    color: #6a737d;
  }
  
  .post-body ol,
  .post-body ul {
    padding-left: 2em;
  }
  
  .post-body ol ol,
  .post-body ol ul,
  .post-body ul ol,
  .post-body ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .post-body li {
    word-wrap: break-all;
  }
  
  .post-body li>p {
    margin-top: 16px;
  }
  
  .post-body li+li {
    margin-top: .25em;
  }
  
  .post-body dl {
    padding: 0;
  }
  
  .post-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }
  
  .post-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }
  
  .post-body table {
    /* display: block;
    width: 100%; */
    overflow: auto;
  }
  
  .post-body table th {
    font-weight: 600;
  }
  
  .post-body table td,
  .post-body table th {
    padding: 6px 13px;
    border: 1px solid rgb(80, 80, 80);
  }
  
  .post-body table tr {
    background-color:rgb(40, 40, 40);
    border-top: 1px solid #c6cbd1;
  }
  
  .post-body table thead tr {
    /* background-color:rgb(40, 40, 40);
    border-top: 1px solid #c6cbd1; */
    color: rgb(212, 212, 0);
  }

  .post-body table tr:nth-child(2n) {
    background-color: rgb(50, 50, 50);
  }
  
  .post-body img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  }

  .post-body img + em{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 70%;
  }
  
  .post-body img[align=right] {
    padding-left: 20px;
  }
  
  .post-body img[align=left] {
    padding-right: 20px;
  }
  
  .post-body code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
  }
  
  .post-body pre {
    word-wrap: normal;
  }
  
  .post-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
  
  .post-body .highlight {
    margin-bottom: 16px;
  }
  
  .post-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }
  
  .post-body .highlight pre,
  .post-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgb(40, 40, 40);
    border-radius: 3px;
  }
  
  .post-body pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
  }
  
  .post-body .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 90%;
    color: #444d56;
  }
  
  .post-body .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
  }
  
  .post-body .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .post-body .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
  }
  
  .post-body .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27,31,35,.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .post-body .blob-num:hover {
    color: rgba(27,31,35,.6);
  }
  
  .post-body .blob-num:before {
    content: attr(data-line-number);
  }
  
  .post-body .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
  }
  
  .post-body .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
  }
  
  .post-body .pl-token.active,
  .post-body .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
  }
  
  .post-body .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
  }
  
  .post-body .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
  }
  
  .post-body .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
  }
  
  .post-body .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
  }
  
  .post-body .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
  }
  
  .post-body .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
  }
  
  .post-body .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
  }
  
  .post-body .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
  }
  
  .post-body .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
  }
  
  .post-body .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
  }
  
  .post-body .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
  }
  
  .post-body .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
  }
  
  .post-body .task-list-item {
    list-style-type: none;
  }
  
  .post-body .task-list-item+.task-list-item {
    margin-top: 3px;
  }
  
  .post-body .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
  }
  