---
layout: default
title: Andriy Taranov / write-ups
active_page: write-ups
---
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-link" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span class="pagination-no-link">&laquo; Prev</span>
  {% endif %}
  </li>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="pagination"><span class="pagination-current-page">{{ page }}</span></li>
    {% elsif page == 1  %}
      <li class="pagination"><a class="pagination-page-link" href="{{ site.paginate_path | relative_url | replace: ':num/', '' }}">{{ page }}</a></li>
    {% else %}
      <li class="pagination"><a class="pagination-page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  <li class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-link" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span class="pagination-no-link">Next &raquo;</span>
  {% endif %}
</li>
</ul>
{% endif %}

<ul class="write-ups-list">
  {% for post in paginator.posts %}
    <li class="write-up-entry">
      <span class="write-up-category">{{ post.category }} »</span> 
      <a class="write-up-link" href="{{ post.url }}">
        <span class="write-up-title">{{ post.title }}</span>
        <div class="write-up-excerpt">{{ post.content | markdownify | strip_html | truncatewords: 20 }}</div>
        <div class="write-up-date">{{ post.date | date: "%Y.%m.%d" }}</div>
      </a>
    </li>
	{% endfor %}
</ul>