<html>
	<header>
		<link rel="icon" href="/path/to/favicon-32.png" sizes="32x32">
		<title>Andriy Taranov</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4NT0NR9FYF"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-4NT0NR9FYF');
		</script>
	</header>
	<body>
		<div class="textcontainer">
			<ul class="menu">
				<li class="menu"><a {% if page.active_page == "write-ups" %} class="active" {% elsif page.semiactive_page == "write-ups" %} class = "semiactive" {% endif %} href="/index.html">write-ups</a></li>
				<li class="menu"><a {% if page.active_page == "main-page" %} class="active" {% elsif page.semiactive_page == "main-page" %} class = "semiactive" {% endif %} href="/index.html">@</a></li>
			</ul>
			{{content}}
		</div>
		<footer>
				<ul>
					<li class="left"><span class="ua blue">/</span><span class="ua yellow">/</span> 2017 Crafted by <a href="http://www.mavpa.pro">mavpa</a></li>
					<li class="right">Designed by <a href="http://www.taranich.org">professional</a></li>
				</ul>
			</footer>
	</body>
</html>